@use "./theme.scss" as *;

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-margin {
  flex-basis: max(10%, 30px);
}

.flex-gap-xlarge {
  gap: $flex-gap-xlarge;
}

.flex-gap-large {
  gap: $flex-gap-large;
}

.flex-gap-normal {
  gap: $flex-gap;
}

.flex-gap-small {
  gap: $flex-gap-small;
}

.font-color-primary {
  color: $font-color-primary;
}

.font-color-secondary {
  font-weight: $font-weight-medium;
  color: $font-color-secondary;
}

#warning {
  color: $warning-color;
  fill: $warning-color;
}

.primary-button {
  color: $third-color;
  background-color: $button-text-color;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  width: 100px;
  height: fit-content;
}

.primary-button:hover {
  background-color: hsla(238, 57%, 85%, 1);
}

.comment-border {
  border: 0.1px solid $border-color;
  border-radius: 8px;
}

.comment-edit-border {
  border: 0.1px solid $button-text-color;
  border-radius: 8px;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  width: 100%;
}

.comment-module {
  padding: 1rem 1.5rem;
  max-width: 700px;
  width: 100%;
  background-color: $third-color;
}

img.avatar-normal {
  width: 32px;
  height: 32px;
}

img.avatar-big {
  width: 40px;
  height: 40px;
}
