@use "../../styles/theme.scss" as *;
@use "../../styles/comment-grid.styles.scss" as *;
@use "../../styles/utility.scss" as *;

.comment-container {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  background-color: $third-color;
}

.comment-border {
  border: 0.1px solid $border-color;
  border-radius: 8px;
}
