@use "../../styles/theme.scss" as *;
@use "../../styles/comment-grid.styles.scss" as *;
@use "../../styles/utility.scss" as *;

.comment-container {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  background-color: $third-color;
}

.comment-border {
  border: 0.1px solid $border-color;
  border-radius: 8px;
}

.like-container {
  background-color: $secondary-color;
  border-radius: 10px;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include breakpoint($mobile) {
    padding-block: 1rem;
    padding-inline: 0.5rem;
    flex-direction: row;
  }
}
