@use "../../styles/theme.scss" as *;
@use "../../styles/comment-grid.styles.scss" as *;
@use "../../styles/utility.scss" as *;

.buttons-container {
  align-items: start;
  button {
    fill: $button-text-color;
    color: $button-text-color;
  }
}

.comment-container {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  background-color: $third-color;

  .comment-text {
    word-wrap: break-word;
    padding-block: 0.5rem 0.75rem;
    padding-right: 3rem;
  }
}

.comment-border {
  border: 0.1px solid $border-color;
  border-radius: 8px;
}

.comment-edit-field {
  border: 0.1px solid $button-text-color;
  border-radius: 8px;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  width: 100%;
}
