@use "../../../styles/utility.scss";
@use "../../../styles/theme.scss" as *;

.comment-id-container {
  img {
    width: 32px;
    height: 32px;
  }

  .username-self {
    background-color: $primary-color;
    color: $third-color;
    font-weight: $font-weight-medium;
    font-size: 0.81rem;
    border-radius: 2px;
    line-height: 1.2rem;
    padding-inline: 0.5em;
    margin-left: 0.5em;
  }
}
