.m-delete {
  /* height: 250px; */
  max-width: 400px;
  width: 40vw;
  min-width: 340px;
  border-radius: 8px;
  padding: 32px;
  background-color: white;
}

.delete-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--bold-font);
}

.delete-desc {
  line-height: 1.5;
}

.delete-cta {
  --file-gap: 16px;
}

.button-cancel,
.button-confirm {
  padding-inline: min(3vw, 1.5rem);
}

.button-confirm {
  background-color: var(--warn-color);
}

.button-confirm:hover {
  background-color: var(--warn-color-light);
}

.button-cancel {
  background-color: var(--font-color);
}

.button-cancel:hover {
  background-color: #a1aab4;
}

.l-popup {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  overflow: hidden;
}

.overlay {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
}
